@import "mixins";

:root {
  --font-size: 10px;
  --bg: #fafafa;
}

@mixin text-bar($color,$beforeCor) {
  &:before,&:after {
    content: "";
    top: 0;
    bottom: 0;
    display: inline-block;
    position: absolute;
  }
  &:before {
    //background: #00C691;
    background: $beforeCor;
    width: 100%;
  }
  &:after {
    background: $color;
  }
}

@mixin animateType($transtionTime,$animationTime,$delay) {
  &:before {
    right: 0;
    width: 0;
    -webkit-transition: width $transtionTime ease-in-out;
    transition: width $transtionTime ease-in-out;
    transition-delay: $delay;
  }
  &:after {
    -webkit-animation: typo01-after $animationTime ease-in-out;
    animation-delay: $delay;
  }
}

@mixin btn-border-slide($color, $hoverColor,$borderWidth,$time) {
  $easing: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:before,&:after {
    content: "";
    positon: absolute;
    left: 0;
    height: $borderWidth
  }
}

.life {
  &__content {
    background: #00C691;
    .yellowBox {
      background: #FFE232;
      &--rightTop {
        position: absolute;
        top: 0;
        right: 6.6667vw;
        width: 11.9792vw;
        height: 31.25vw;
        transition: 1.5s ease;
        transform: translate(0, -100%);
        .mask {
          position: absolute;
          right: -1.0417vw;
          bottom: 2.6042vw;
        }
        &.aos-animate {
          transform: translate(0,0);
        }
      }
    }
    .textBig {
      position: absolute;
      .big {
        position: relative;
        display: inline-block;
        font-size: 10.4167vw;
        font-weight: 700;
        color: #FFE232;
        @include text-bar(#FFE232,#00C691);
      }
      &.aos-animate {
        .big {
          &:before {
            right: 0;
            width: 0;
            -webkit-transition: width 1.1s ease-in-out;
            transition: width 1.1s ease-in-out;
            transition-delay: 0.5s;
          }
          &:after {
            -webkit-animation: typo01-after 1s ease-in-out;
            animation-delay: 0.5s;
          }
        }
        .textSmall {
          opacity: 1;
        }
      }
      .textSmall {
        color: #fff;
        font-size: 1.0417vw;
        transition: 0.72s ease-in-out;
        transition-delay: 1.1;
        opacity: 0;
      }
      @include transition(1s ease);
      &__s {
        left: 35.2604vw;
        top: 8.5938vw;
        .textSmall {
          position: absolute;
          left: 5vw;
          bottom: 3.5vw;
        }
      }
      &__p {
        left: 55.9896vw;
        top: 13.5104vw;
        .big {
          @include rotate(90deg);
        }
        .textSmall {
          position: absolute;
          top: 3.1667vw;
          left: 2.2639vw;
        }
      }
      &__x {
        left: 44.7917vw;
        top: 17.9688vw;
        .textSmall {
          position: absolute;
          left: 5.7vw;
          bottom: 2.71vw;
        }
      }
    }

    .videoPhoto {
      position: relative;
      padding: 20.9375vw 0 0;
      display: flex;
      &:after {
        content: "";
        clear: both;
        display: block;
      }
      &__content {
        width: 40.4vw;
        .video-image {
          width: 39vw;
          height: 28.5vw;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      &__text {
        padding: 13vw 0 0 5.3vw;
        text-align: right;
        span {
          position: relative;
          font-size: 2vw;
          color: #fff;
          line-height: 1.8em;
          @include text-bar(#FFE232,#00C691);
        }
        &.aos-animate {
          span {
            &:before {
              right: 0;
              width: 0;
              -webkit-transition: width 1.1s ease-in-out;
              transition: width 1.1s ease-in-out;
              transition-delay: 0.5s;
            }
            &:after {
              -webkit-animation: typo01-after 1s ease-in-out;
              animation-delay: 0.5s;
            }
          }
        }
      }

      &__content {
        position: relative;
        .videoPhoto__animateBox {
          position: absolute;
          left: 0;
          top: 11.25vw;
          width: 39.1vw;
          height: 17.27vw;
          background: #C7CBD9;
          z-index: 3;
          &.aos-animate {
            opacity: 0.65 !important;
          }
        }

        .yellowBox {
          position: absolute;
          left: 39vw;
          top: 11.3vw;
          width: 1.45vw;
          height: 17.2vw;
          background: #FFE232;
        }
      }
    }

    .xtlogo {
      position: relative;
      height: 20.5729vw;
      padding: 8.4896vw 0 0 21.2500vw;
      .yellowBox {
        position: absolute;
        left: 39vw;
        top: -3px;
        background: #FFE232;
        width: 5.3125vw;
        height: 20.7292vw;
      }
      .logoImg {
        position: relative;
        width: 25.1042vw;
        height: 12.0833vw;
        z-index: 2;
        img {
          width: 100%;
        }
      }
      .textMask {
        position: absolute;
        right: 8.3333vw;
        bottom: 2.6042vw;
        .text {
          position: relative;
          z-index: 2;
          font-size: 2.6042vw;
          color: #FFE232;
          mix-blend-mode: difference;
        }
        .circle {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          margin: auto;
          width: 3.9583vw;
          height: 3.9583vw;
          border-radius: 50%;
          background: #fff;
        }
      }
    }

    .swiperArea {
      position: relative;
      margin-bottom: 8.8542vw;
      .border {
        position: absolute;
        width: 70.9896vw;
        height: 36.4583vw;
        left: 50%;
        margin: 0 auto 30px -35.4948vw;
        /*overflow: hidden;*/
        span {
          &:before,&:after {
            content: "";
            position: absolute;
          }
          &.top:before {
            top: 0;
            left: 0;
            right: 100%;
            border-top: 1.5625vw solid #fff;
          }
          &.top:after {
            top: 0;
            right: 0;
            bottom: 100%;
            border-left: 1.5625vw solid #fff;
          }
          &.bottom:before {
            bottom: 0;
            left: 100%;
            right: 0;
            border-top: 1.5625vw solid #fff;
          }
          &.bottom:after {
            top: 100%;
            left: 0;
            bottom: 0;
            border-left: 1.5625vw solid #fff;
          }
        }
      }
      &.aos-animate {
        .border {
          color: #0395E5;
          span {
            display: block;
            &:before,&:after {
              z-index: 2;
              visibility: visible;
            }
            &.top:before {
              right: 0;
              transition: all .4s;
            }
            &.top:after {
              bottom: 0;
              transition: all .3s .4s;
            }
            &.bottom:before {
              left: 0;
              transition: all .3s .7s;
            }
            &.bottom:after {
              top: 0;
              transition: all .3s 1.0s;
            }
            &:after {
              //-webkit-transition: width 0.6s ease 0.4s, height 1.2s ease 1.2s, visibility 0s 0.5s;
              //transition: width 1.3s ease .5s, height 3s ease .5s, visibility 0s 0.6s;
            }
          }
        }
      }
      .swiper-container {
        width: 67.9167vw;
        height: 33.3333vw;
        top: 1.55vw;
        opacity: 0;
        //transition: 3s cubic-bezier(.42,.02,.99,-0.01);
        img {
          width: 100%;
        }
      }
      .swiper-pagination {
        position: absolute;
        right: 16vw;
        bottom: -3.3335vw;
        .swiper-pagination-bullet {
          position: relative;
          width: 30px;
          height: 50px;
          margin: 0 5px;
          background: #FFE232;
          border-radius: 0;
          opacity: 1;
          transition: 1s ease;
          -webkit-transform: scaleY(1);
          transform: scaleY(1);
          &-active {
            position: relative;
            -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          }
        }
      }
      &.aos-animate {
        .swiper-container {
          opacity: 1;
        }
      }
    }

    .xtText {
      display: flex;
      justify-content: center;
      .bigText {
        margin-right: 13vw;
        span {
          position: relative;
          line-height: 1.1em;
          font-size: 6vw;
          color: #fff;
          @include text-bar(#fff,#00C691);
        }
        &.aos-animate {
          span {
            &:before {
              right: 0;
              width: 0;
              -webkit-transition: width 1.1s ease-in-out;
              transition: width 1.1s ease-in-out;
              transition-delay: 0.5s;
            }
            &:after {
              -webkit-animation: typo01-after 1s ease-in-out;
              animation-delay: 0.5s;
            }
          }
        }
      }
      .text {
        span {
          position: relative;
          color: #fff;
          font-size: 30px;
          line-height: 1.8em;
          @include text-bar(#FFE232,#00C691);
        }
        &.aos-animate {
          span {
            &:before {
              right: 0;
              width: 0;
              -webkit-transition: width 1.1s ease-in-out;
              transition: width 1.1s ease-in-out;
              transition-delay: 0.5s;
            }
            &:after {
              -webkit-animation: typo01-after 1s ease-in-out;
              animation-delay: 0.5s;
            }
          }
        }
      }
    }

    .xtMember {
      width: 100%;
      overflow: hidden;
      &__team {
        position: relative;
        height: 11.9792vw;
        transition: .5s ease;
        .name {
          position: relative;
          top: -2.6042vw;
          left: 0;
          font-size: 1.0417vw;
          margin: 0 1.5625vw;
          a {
            color: #fff;
            span {
              color: #fff;
            }
          }
          .photo {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .tit {
          position: relative;
          font-size: 8.5vw;
          color: #FFE232;
          font-weight: 700;
          @include text-bar(#FFE232,#00C691);
        }
        &.aos-animate {
          .tit {
            &:before {
              right: 0;
              width: 0;
              -webkit-transition: width 1.1s ease-in-out;
              transition: width 1.1s ease-in-out;
              transition-delay: 0.5s;
            }
            &:after {
              -webkit-animation: typo01-after 1s ease-in-out;
              animation-delay: 0.5s;
            }
          }
          .xtMember__team__memberList{
            transition: .5s ease;
            transition-delay: 1.5s;
          }
          &.planner .xtMember__team__memberList {
            transform: translate(0,0);
            a {
              span {
                color: #fff;
              }
            }
            .planner__position1 {
              .hover-reveal {
                left: 0 !important;
                top: -10vw;
              }
            }
            .planner__position2 {
              .hover-reveal {
                left: 10vw !important;
                top: -10px;
              }
            }
            .planner__position3 {
              .hover-reveal {
                left: 20vw !important;
                top: -10px;
              }
            }
          }
          &.designer .xtMember__team__memberList {
            transform: translate(-28vw,0);
            .hover-reveal {
              left: 0 !important;
            }
          }
          &.publisher .xtMember__team__memberList {
            transform: translate(0,0);
          }
          &.develover {
            .xtMember__team__memberList {
              transform: translate(0,0);
            }
            strong:after {
              transform: translate(0,0);
              transition: .5s ease;
              transition-delay: 1.5s;
            }
          }
        }
        .xtMember__team__memberList {
          position: absolute;
          top: 4.8vw;
          display: inline-block;
          height: 2.65vw;
          line-height: 2.65vw;
          padding: 0 0 0 9vw;
          mix-blend-mode: hard-light;
          transition: .5s ease;
          a {
            color: #fff;
            font-size: 1.0417vw;
            padding: 0 0.9vw;
            span {
              color: #fff;
            }
          }
        }
        &.planner {
          .xtMember__team__memberList{
            left: 31vw;
            width: 33.9479vw;
            background: #0067e0;
            transform: translate(-200%,0);
          }
        }
        &.designer {
          .xtMember__team__memberList{
            right: 27.0729vw;
            background: #00e27b;
            width: 49.4896vw;
            right: 0;
            padding: 0 0 0 5vw;
            text-align: left;
            transform: translate(200%, 0);
          }
        }
        &.publisher {
          .tit {
            left: 20vw;
          }
          .xtMember__team__memberList {
            left: 31.3vw;
            width: 40vw;
            padding: 0 0 0 22vw;
            background: #AF45D5;
            transform: translate(200%,0);
          }
        }
        &.develover {
          height: 16vw;
          .tit {
            right: -14vw;
          }
          .xtMember__team__memberList {
            mix-blend-mode: hard-light;
            transform: translate(111vw,0);
            a {
              color: #fff;
            }
            &.list1 {
              left: -58vw;
              top: 12.05vw;
              width: 40vw;
              text-align: left;
              padding: 0;
            }
            &.list2 {
              width: 30vw;
              right: 54vw;
              top: 4.7vw;
              padding: 0;
            }
          }
          strong {
            position: relative;
            &:after {
              content: "";
              background: url(../../resources/images/life/develover.svg) no-repeat;
              background-size: contain;
              position: absolute;
              top: -4.3vw;
              right: 1.7vw;
              width: 100vw;
              height: 10vw;
              mix-blend-mode: hard-light;
              z-index: -1;
              transform: translate(111vw,0);
            }
          }
        }

        &.textRight {
          text-align: right;
        }
        &.textLeft {
          text-align: left;
        }
      }
    }

    .xtMemberLiefPhoto {
      margin-top: 8.5vw;
      &__text {
        color: #fff;
        display: flex;
        justify-content: left;
        padding: 0 0 0 15.6792vw;
        .title {
          font-size: 4vw;
          line-height: 1em;
          margin-right: 5.5vw;
        }
        > div {
          strong {
            color: #fff;
            font-size: 2vw;
          }
          p {
            color: #fff;
            font-size: 1vw;
            line-height: 2em;
            margin-top: 2vw;
          }
        }
      }
      ul {
        margin: 3.5vw 14.4792vw 0;
        li {
          display: flex;
          justify-content: center;
          > div {
            overflow: hidden;
            padding: 1.2vw;
            img {
              width: 100%;
              -webkit-filter: grayscale(100%);
              filter: gray;
              transform: scale(1);
              /* filter : 이미지에 필터효과를 적용한다 blur(px) :
              이미지를 흐리게 한다 brightness(%) :
              이미지의 밝기를 변경한다 contrast(%) :
              이미지의 대비를 변경한다 drop-shadow(x-offset y-offset blur color) :
              이미지에 그림자를 추가한다 grayscale(%) :
              이미지에 흑백효과를 적용한다 hue-rotate(deg) :
              이미지에 색상환의 각도를 지정 invert(%) :
              이미지 반전 opacity(%) :
              이미지에 투명도 적용 */
              transition: .7s ease;
              &:hover {
                -webkit-filter: grayscale(0%);
                filter: none;
                transform: scale(1.02);
              }
            }
          }
        }
      }
      .btnBasics b {
        color: #00C691;
      }
    }
    .btnMore {
      margin-top: 3.1250vw;
      text-align: center;
    }
    .main-contact {
      margin-top: 13.9063vw;
        &:before {
          background: url(../images/common/xt-logo-green.svg) no-repeat;
          background-size: cover;
        }
      }
    }
  }

@-webkit-keyframes typo01-after {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      width: 100%;
    }
    to {
      right: 0;
      width: 0;
    }
  }
@keyframes typo01-after {
    0% {
      left: 0;
      width: 0;
    }
    50% {
      width: 100%;
    }
    to {
      right: 0;
      width: 0;
    }
  }

@-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    100% {
      -webkit-transform: scaleY(2);
      transform: scaleY(2);
    }
  }
@keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    100% {
      -webkit-transform: scaleY(2);
      transform: scaleY(2);
    }
  }

.btnBasics {
  --borderWidth: 2;
  --boxShadowDepth: 8;
  --buttonColor: #fff;
  --fontSize: 1;
  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: transparent;
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  /*box-shadow: calc(var(--boxShadowDepth) * 1px) calc(var(--boxShadowDepth) * 1px) 0 #888;*/
  color: var(--buttonColor);
  cursor: pointer;
  font-size: 0.7292vw;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  -webkit-transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
  span {
    -webkit-clip-path: var(--clip);
    bottom: calc(var(--borderWidth) * -1px);
    clip-path: var(--clip);
    left: calc(var(--borderWidth) * -1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    z-index: 1;
    &:hover {
      --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      z-index: 2;
    }
    &:nth-of-type(1):hover,&:nth-of-type(2):hover,&:nth-of-type(3):hover,&:nth-of-type(4):hover {
      --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      z-index: 2;
    }
    &:nth-of-type(1):hover ~ b:nth-of-type(1),&:nth-of-type(2):hover ~ b:nth-of-type(2),&:nth-of-type(3):hover ~ b:nth-of-type(3),&:nth-of-type(4):hover ~ b:nth-of-type(4) {
      --clip: inset(0 0 0 0);
    }
    &:nth-of-type(1) {
      --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
    }
    &:nth-of-type(2) {
      --clip: polygon(100% 0, 100% 100%, 50% 50%);
    }
    &:nth-of-type(3) {
      --clip: polygon(0 100%, 100% 100%, 50% 50%);
    }
    &:nth-of-type(4) {
      --clip: polygon(0 0, 0 100%, 50% 50%);
    }
  }
  b {
    -webkit-clip-path: var(--clip);
    background: var(--buttonColor);
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    bottom: calc(var(--borderWidth) * -1px);
    /*font-weight: bold;*/
    clip-path: var(--clip);
    color: #000;
    left: calc(var(--borderWidth) * -1px);
    padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
    position: absolute;
    right: calc(var(--borderWidth) * -1px);
    top: calc(var(--borderWidth) * -1px);
    -webkit-transition: -webkit-clip-path 0.25s ease;
    transition: -webkit-clip-path 0.25s ease;
    transition: clip-path 0.25s ease;
    transition: clip-path 0.25s ease, -webkit-clip-path 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    font-weight: 400;
    &:nth-of-type(1) {
      --clip: inset(0 0 100% 0);
    }
    &:nth-of-type(2) {
      --clip: inset(0 0 0 100%);
    }
    &:nth-of-type(3) {
      --clip: inset(100% 0 0 0);
    }
    &:nth-of-type(4) {
      --clip: inset(0 100% 0 0);
    }
  }
  &--black {
    --buttonColor: #000;
    border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
    color: var(--buttonColor);
    b {
      color: #fff;
      font-weight: 300;
    }
  }
}

#section2 .number {
  position: absolute;
  left: 137px;
  bottom: 88px;
  span {
    color: #fff;
    font-size: 20px;

  }
}

.work {
  &__content {
    &__text {
      padding: 11.0417vw 0 0 10.0521vw;
      div {
        margin-bottom: 1.0417vw;
        &:last-child {
          margin: 0;
        }
      }
      span {
        position: relative;
        font-size: 2.0833vw;
        font-weight: bold;
        @include text-bar(#FFE232,#fff);
        i {
          position: relative;
          font-style: normal;
          z-index: -1;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 100%;
            border-top: 1px solid #000;
            visibility: hidden;
          }
        }
      }
      &.aos-animate {
        span {
          &:before {
            right: 0;
            width: 0;
            -webkit-transition: width 1.1s ease-in-out;
            transition: width 1.1s ease-in-out;
            transition-delay: 0.5s;
          }
          &:after {
            -webkit-animation: typo01-after 1s ease-in-out;
            animation-delay: 0.5s;
          }
          i {
            &:after {
              visibility: visible;
              right: 0;
              transition: all .5s 1.3s;
            }
          }
        }
      }
    }
    &__text2 {
      margin: 0 0 4.0104vw 10.0521vw;
      span {
        display: inline-block;
        font-family: 'NotoKrR', 'Malgun Gothic', '맑은 고딕', '돋움', dotum, sans-serif;
        font-size: 4.1667vw;
        color: #EBEBEB;
        transform: rotate(180deg);
        @include text-bar(#EBEBEB,#fff);
      }
      &.aos-animate {
        span {
          @include animateType(1.1s,1s,0.5s);
        }
      }
    }
    .video {
      position: relative;
      img {
        width: 100%;
      }
    }
    .projectList {
      .xtText {
        position: relative;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 9.3750vw 0 0;
        text-align: center;
        span {
          position: relative;
          margin: 10px 0;
        }
        .box {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 44px;
          margin: 0;
          opacity: 0;
          transition: 10s ease;
        }
        &.aos-animate {
          .box {
            opacity: 1;
          }
        }
      }
      .projectList__unit {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0 14.5833vw 4.1667vw;
        .year {
          position: absolute;
          left: 50%;
          top: 50%;
          background: #fff;
          display: block;
          padding: 5px 36px;
          margin: -27px 0 0 -50px;
          transform: rotate(-90deg);
          font-size: 0.8333px;
          z-index: 2;
          font-weight: 100;
          @include text-bar(#EBEBEB,#fff);
        }
        &.aos-animate {
          .year {
            @include animateType(1.1s,1s,0.5s);
          }
        }
        > div {
          flex: 1;
          width: 50%;
          &:nth-child(1) {
            margin-right: 4.1146vw;
          }
          &:nth-child(2) {
            margin-left: 4.1146vw;
          }
        }
        .img {
          position: relative;
          img {
            width: 100%;
          }
          @include text-bar(#EBEBEB,#fff);
        }
        .info {
          align-self: center;
          .title {
            position: relative;
            font-size: 1.0417vw;
            font-weight: 300;
            @include text-bar(#EBEBEB,#fff);
          }
          .text {
            margin: 1.0417vw 0 2.2396vw;
            strong {
              position: relative;
              font-size: 2.0833vw;
              font-weight: 500;
              @include text-bar(#EBEBEB,#fff);
            }
          }
          .link {
            span {
              position: relative;
              font-size: 0.8333vw;
              @include text-bar(#EBEBEB,#fff);
            }
          }
        }
        &--type2 {
          .info {
            padding: 0 0 0 5.3125vw;
          }
        }
        &.aos-animate {
          .img {
            @include animateType(1.1s,1s,0.5s);
          }
          .info {
            .title {
              @include animateType(1.1s,1s,0.5s);
            }
            .text {
              strong {
                @include animateType(1.1s,1s,0.5s);
              }
            }
            .link {
              span {
                @include animateType(1.1s, 1s, 0.5s);
              }
            }
          }
        }
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          width: 1px;
          height: 100%;
          background: #DCDCDC;
        }
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 4.1667vw;
        }
      }
    }
    .btnMore {
      text-align: center;
      margin-bottom: 4.9479vw;
    }
    .textListType {
      padding: 0 14.5833vw;
      .section {
        display: flex;
        padding:  2.1875vw 0;
        border-bottom: 1px solid #f3f3f3;
        > div {
          flex: 1;
          text-align: left;
          &.year {
            flex: none;
            width: 15%;
          }
          &.text {
            text-align: right;
          }
          span {
            display: block;
            margin-bottom: 0.2604vw;
            font-size: 16px;
          }
        }
      }
    }
    .main-contact {
      top: 0;
    }
  }
}
.contactContent {
  position: relative;
  padding: 11vw 0 0;
  h1 {
    margin-left: 14.4792vw;
    span {
      position: relative;
      font-size: 5.2083vw;
      font-weight: 700;
      @include text-bar(#000,#fff);
    }
    &.aos-animate {
      span {
        @include animateType(1.1s,1s,0.5s);
      }
    }
  }
  .textWrap {
    margin-left: 14.4792vw;
    span {
      position: relative;
      font-size: 3.6458vw;
      font-weight: 300;
      @include text-bar(#000,#fff);
    }
    &.aos-animate {
      span {
        @include animateType(1.1s,1s,.8s);
      }
    }
  }
  .address {
    position: absolute;
    top: 19.8958vw;
    right: 14.4792vw;
    text-align: right;
    line-height: 2em;
    span {
      position: relative;
      font-size: 1.0417vw;
      font-weight: 500;
      @include text-bar(#000,#fff);
    }
    &.aos-animate {
      span {
        @include animateType(1.1s,1s,.8s);
      }
    }
    div {
      margin-top: 10px;
    }
  }
  .main-contact {
    width: 100%;
    padding: 0 14.4792vw;
    top: -45px;
    left: 0;
    z-index: -1;
    &:after {
      width: calc(100% - 28.958564vw);
      bottom: 0;
      left: 14.479282vw;
    }
  }
  .linkSection {
    display: flex;
    justify-content: center;
    margin-bottom: 8.8542vw;
    .box {
      position: relative;
      a {
        position: relative;
        display: block;
        width: 33.3333vw;
        height: 31.2500vw;
        padding: 3.6458vw 0 0 3.8542vw;
        border: 4px solid #000;
        box-sizing: border-box;
      }
      .title {
        position: relative;
        font-size: 1.0417vw;
        font-weight: 300;
        @include text-bar(#000,#fff);
      }
      .text {
        padding: 1vw 0 0 0;
        span {
          position: relative;
          font-size: 2.0833vw;
          font-weight: 700;
          @include text-bar(#000,#fff);
            i {
            position: relative;
            font-style: normal;
              z-index: -1;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              right: 100%;
              border: 1px solid #000;
              visibility: hidden;
            }
          }
        }
      }
      .rightBottom {
        position: absolute;
        display: inline-block;
        right: 3.2813vw;
        bottom: 3.1771vw;
        font-weight: 300;
        font-size: 0.8333vw;
        @include text-bar(#000,#fff);
      }
      &.aos-animate {
        .title {
          @include animateType(1.1s,1s,.8s);
        }
        .text {
          span {
            @include animateType(1.1s,1s,.8s);
            i:after {
              visibility: visible;
              right: 0;
              transition: all .5s 1.5s;
            }
          }
        }
        .rightBottom {
          @include animateType(1.1s,1s,.8s);
        }
      }
      &:nth-child(1) {
        margin-right: 2.2396vw;
      }
      &:nth-child(2) {
        margin-left: 2.2396vw;
      }
      &--project {
        transition: all .5s;
        background: url(../images/contact/contact_img01.png) no-repeat left bottom;
        background-size: contain;
        opacity: 0;
      }
      &--career {
        background: url(../images/contact/contact_img02.png) no-repeat 20px bottom;
        background-size: contain;
      }
    }

  }
  .mapWrap {
    #map {
      .mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right {
        display: none;
      }
      .addr {
        position: absolute;
        left: 3.1250vw;
        bottom: 20px;
        font-size: 1.0417vw;
        font-weight: bold;
        color: #fff;
        z-index: 2;
        line-height: 2em;
      }
    }
  }
  .footer {
    background: #000;
    padding: 3.6458vw 0 3.3854vw 3.1250vw;
    span {
      color: #fff;
    }
  }
}

/* page type */
.blackType {
  .wrapper {
    .header {
      &.main {
        .xt-ci {
          width: auto;
          min-width: 82px;
          border: 3px solid #000;
          background: url(../images/common/blacktype_topp_logo.png) no-repeat 0 0;
          span {
            display: none;
            padding: 7px 14px 0 79px;
            transition: .5s ease;
          }
        }
        .pdf-down {
          color: #000;
        }
      }
      .hamburger {
        a {
          div {
            &.side-open {
              border-color: #000;
              span {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

.viewContent {
  padding: 12.8125vw 0 0;
  .titleWrap {
    display: flex;
    justify-content: space-between;
    padding: 0 14.4792vw;
    h1 {
      font-size: 2.6042vw;
      color: #000;
    }
    .date {
      font-size: 1.0417vw;
    }
  }
  &__visualImage {
    margin-top: 3.1250vw;
    img {
      width: 100%;
    }
  }
  &__content {
    padding: 0 14.4792vw 3.1250vw;
    .numTitle {
      display: block;
      font-size: 1.5625vw;
      font-weight: 400;
      margin-top: 4.4792vw;
    }
    p {
      font-size: 1.0417vw;
      margin-top: 2.0833vw;
      line-height: 2vw;
    }
  }
  .btnList {
    text-align: center;
  }
  &__prevnext {
    padding: 6.3542vw 14.4792vw 7.2917vw;
    a {
      display: flex;
      padding: 2.0313vw 0;
      + a {
        border-top: 1px solid #ececec;
      }
      span {
        font-size: 0.8333vw;
        &.firstText {
          width: 11.7188vw;
        }
        &.text {
          width: 54.4271vw;
        }
      }
    }
  }
}

.hover-reveal {
  width: 190px !important;
  height: 274px !important;
  top: 0 !important;
  z-index: 2;

}
